@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #1a1a1a;
}

body {
  background-color: #fdfeff;
}

h1 {
  font-size: 45px;
  line-height: 1.4;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

img {
  width: 100%;
}

button {
  font-size: 18px;
  font-weight: 600;
}

.container {
  padding: 0px 70px;
}

/* Navbar */
.navbar .container {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-top {
  width: 120px;
  cursor: pointer;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 35px;
  flex: 1;
}

.nav-items li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #848485;
}

.nav-items li:first-child a {
  font-weight: 600;
  color: #1a1a1a;
}

.register-now-btn {
  padding: 10px 22px;
  border-radius: 6px;
  transition: transform 250ms ease;
}

.register-now-btn:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.navbar .register-now-btn {
  margin-left: 40px;
  color: #0690f0;
  background-color: #ffffff;
  border: 2px solid #0690f0;
}

.fa-bars {
  font-size: 22px;
  display: none;
}

/* Banners */
.banners {
  margin-top: 100px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.banner-content {
  width: 45%;
}

.banner-content h1 {
  color: #14263f;
}

.banner-content p {
  margin-top: 30px;
  color: #848485;
  width: 90%;
}

.banner-content button {
  margin-top: 30px;
  color: #ffffff;
  padding: 14px 0;
  width: 200px;
  background: linear-gradient(to right bottom, #08aef5, #0460e9);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 10px 15px 5px #d6e9fb;
  transition: transform 250ms ease;
}

.banner-content button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.banner-image {
  width: 42%;
}

/* Services */
.services-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-section .header h1 {
  width: 45%;
  color: #1d2b4f;
}

.services-section .header p {
  width: 40%;
  color: #848485;
}

.services {
  margin-top: 70px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
}

.service img {
  width: auto;
  height: 40px;
}

.service h3 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 600;
  color: #1d2b4f;
}

.service p {
  margin-top: 20px;
  font-size: 15px;
  color: #848485;
}

/* Pricing */
.pricing-section {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 60px;
  background: linear-gradient(to right bottom, #09c4f9, #045ee9);
}

.pricing-section h1 {
  color: #ffffff;
  text-align: center;
}

.packs {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.pack {
  width: 320px;
  background-color: #ffffff;
  border-radius: 15px;
}

.pack .header {
  padding: 30px;
}

.pack .header h3 {
  font-size: 30px;
  color: #1d2b4f;
}

.pack .header h5 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #848485;
}

.pack .features {
  margin-top: 40px;
  padding: 0 30px;
  list-style-type: none;
}

.pack .features li {
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 600;
  color: #1d2b4f;
}

.fa-circle-check {
  font-size: 20px;
  color: #1cd9a8;
  margin-right: 8px;
}

.subscription {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.subscription h3 {
  font-size: 25px;
  color: #1d2b4f;
}

.subscription h3 span {
  color: #848485;
}

.subscription h5 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #848485;
}

.choose-plan-btn {
  margin-top: 30px;
  color: #0690f0;
  padding: 10px 22px;
  background-color: #ffffff;
  border: 2px solid #0690f0;
  border-radius: 6px;
  transition: transform 250ms ease;
}

.choose-plan-btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.popular .header {
  border-radius: 15px;
  background-color: #353535;
}

.popular .header h3,
.popular .header h5 {
  color: #ffffff;
}

.popular .choose-plan-btn {
  background: linear-gradient(to right bottom, #09c4f9, #045ee9);
  color: #ffffff;
  border: none;
  box-shadow: 0px 10px 15px 5px #d6e9fb;
  padding: 12px 24px;
}

/* Reviews */
.review-section {
  margin-top: 100px;
}

.review-section .header {
  text-align: center;
}

.review-section .header h1 {
  color: #1d2b4f;
}

.review-section .header p {
  margin: 25px auto 50px auto;
  color: #848485;
  width: 60%;
}

.review-cards {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.review-card {
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
  box-shadow: 0 0 20px #dfdfdf;
  position: relative;
}

.review-card p {
  font-size: 15px;
  color: #1d2b4f;
  line-height: 1.5;
}

.review-card img {
  margin-top: 25px;
  width: 50px;
}

.review-card b {
  position: absolute;
  left: 100px;
  bottom: 60px;
  color: #1d2b4f;
}

.review-card span {
  position: absolute;
  left: 100px;
  bottom: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #1d2b4f;
}

.register-now-section {
  margin-top: 80px;
  padding: 50px 0px;
  background: url(../assets/svg-images/footer-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-now-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 45%;
}

.content h1 {
  color: #ffffff;
}

.content p {
  margin-top: 20px;
  color: #ffffff;
}

.register-now-section .register-now-btn {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

footer {
  margin-top: 80px;
  margin-bottom: 50px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-bottom {
  width: 110px;
  cursor: pointer;
}

.logo p {
  font-size: 14px;
  color: #848485;
  line-height: 1.5;
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  margin-bottom: 15px;
}

.footer-links ul li:first-child {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #1d2b4f;
}

.footer-links ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #848485;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.social-media h4 {
  font-size: 22px;
  font-weight: 700;
  color: #1d2b4f;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links img {
  width: 32px;
  transition: transform 250ms ease;
}

.social-links img:hover {
  transform: scale(1.15);
}
